{{#*inline "title"}}
What the src?!
{{/inline}}

{{#*inline "page"}}
<h1 class="word-wrap">What the src?!</h1>
<p>This is a source code indexing project, ingesting the source code inputs of Linux distributions and showing which artifact is used by which package.</p>
<h2>Search by name</h2>
<center>
<form action="/search">
<input name="q" placeholder="Package name">
<input type="submit" value="Search">
</form>
</center>
<h2>Examples</h2>
<ul>
<li><a href="/artifact/sha256:981a75f8291020d9f6632c6160ee3651f376bdf354373bea00506a220e355134">cmatrix-2.0.tar.gz</a></li>
<li><a href="/artifact/sha256:f42ee9efa489e9ff5d328baefa26f9c515be65021856e78d99ad1f0ead9ec85d">pcsc-lite-2.0.3.tar.bz2</a></li>
<li><a href="/artifact/sha512:0728d2dab0c0a07fdfd91490f450be46b004ae994024bfdb6ef1b7ecac8044c4c70da9fdf986b9b31033c9698fb63e4f619604095727fb26d9ba2abc233b27d1">bettercap-2.32.0.tar.gz</a></li>
</ul>
{{/inline}}

{{> base.html.hbs }}
