body {
    background-color: grey;
    font-family: Sans-Serif;
}

.content {
    max-width: 900px;
    margin: 20px auto;
    padding: 15px;
    background-color: white;
}

.title-chksum {
    font-size: 20px;
    font-family: monospace;
}

main h2 {
    margin: 5px 0;
}

sup {
    vertical-align: top;
    font-size: 0.55em;
}

.word-wrap {
    word-wrap: break-word;
}

.alias {
    background-color: lightblue;
    padding: 5px;
}

.warning {
    background-color: orange;
    padding: 5px;
}

.x-overflow {
    overflow-x: scroll;
}

.tooltip {
    text-decoration: underline dotted;
    cursor: help;
}

footer {
    font-size: x-small;
    text-align: center;
    margin-top: 25px;
}

.diff-form {
    text-align: center;
}

.diff-add {
    color: #168a16;
    font-weight: bold;
}

.diff-rm {
    color: #ce0000;
    font-weight: bold;
}

.diff-hunk {
    color: #4d4d4d;
    font-weight: bold;
}
